# Default ignored files
/../../Ubung 8 /.idea/shelf/
/../../Ubung 8 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Ubung 8 /.idea/httpRequests/
# Datasource local storage ignored files
/../../Ubung 8 /.idea/dataSources/
/../../Ubung 8 /.idea/dataSources.local.xml
